/* importation de la police */
@font-face {
	font-family: 'Montserrat';
	src: url('polices/Montserrat/Montserrat-VariableFont_wght.eot');
	src: local('☺'),
	    url('polices/Montserrat/Montserrat-VariableFont_wght.woff') format('woff'),
	    url('polices/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
	    url('polices/Montserrat/Montserrat-VariableFont_wght.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/variables-complexes";
@import "utils/placeholder";

@import "base/reset";
@import "base/global";

@import "components/liste";
@import "components/barre-niveau";

@import "layouts/nav-barre";
@import "layouts/header";
@import "layouts/competences";
@import "layouts/formation";
@import "layouts/technologies";
@import "layouts/projets";
@import "layouts/footer";

@import "pages/accueil";
