@use "sass:math";

@mixin texte-responsive($fs-min, $fs-max, $ecran-min, $ecran-max) {
    font-size: taille-responsive($fs-min, $fs-max, $ecran-min, $ecran-max);
}


@mixin pos-recouvre($position: absolute) {
    position: $position;
    inset: 0;
}


@mixin remplissage-barre-niveau(){ // l'attibut data-niveau est une note sur 20
    @for $i from 0 to 21{
        &[data-niveau='#{$i}']{
            &::before{ width: #{$i * 5%}; }
        }
    }
}