
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex-verticale-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

%pos-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


%flex-column-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

%ligne-pseudo-elem{
    content: '';
    display: block;
    height: 5px;
    width: 160px;
    border-radius: 5px;
    background-color: $couleur-ligne;
}
%petite-ligne-pseudo-elem{
    content: '';
    display: block;
    height: 5px;
    width: 96px;
    border-radius: 5px;
    background-color: $couleur-ligne;
}

%text-align-padding{
    padding-bottom: 2em;
    text-align: center;
}

%scale-hover{
    transition: 0.1s ease-in-out transform;
    &:hover{
        transform: scale(1.2);
    }
}