
// police
$police-texte : 'Montserrat', Arial, Helvetica, sans-serif;


//                                            88
//                                            88
//                                            88
//   ,adPPYba,     ,adPPYba,    88       88   88    ,adPPYba,   88       88   8b,dPPYba,   ,adPPYba,
//   a8"     ""   a8"     "8a   88       88   88   a8P_____88   88       88   88P'   "Y8   I8[    ""
//   8b           8b       d8   88       88   88   8PP"""""""   88       88   88            `"Y8ba,
//   "8a,   ,aa   "8a,   ,a8"   "8a,   ,a88   88   "8b,   ,aa   "8a,   ,a88   88           aa    ]8I
//    `"Ybbd8"'    `"YbbdP"'     `"YbbdP'Y8   88    `"Ybbd8"'    `"YbbdP'Y8   88           `"YbbdP"'        // police = univers

// couleurs de base
$couleur-sombre : #0D1B2A;// #333;
$couleur-sombre-2: #3F5A3F;
$couleur-claire : #E0E1DD;//#FECEE9;
$couleur-claire-3 : #7D83FF;
$couleur-claire-sombre : #92374D;

$couleur-bleu-claire : #00A8E8;
$couleur-vert : #CAFFD0;
$couleur-beige : #B0A990;

//couleurs des atoms
$couleur-bg-principal : $couleur-claire;
$couleur-texte: $couleur-sombre;
$couleur-texte-2: $couleur-sombre-2;

$couleur-lien-hover : $couleur-bleu-claire;
$couleur-border : $couleur-claire-sombre;
$couleur-ligne: $couleur-claire-sombre;

$couleur-barre-font : $couleur-vert;
$couleur-barre-remplie : $couleur-bleu-claire;


//   88                                                   88                                      88
//   88                                                   88                                      ""                   ,d
//   88                                                   88                                                           88
//   88,dPPYba,    8b,dPPYba,    ,adPPYba,   ,adPPYYba,   88   ,d8    8b,dPPYba,     ,adPPYba,    88   8b,dPPYba,    MM88MMM
//   88P'    "8a   88P'   "Y8   a8P_____88   ""     `Y8   88 ,a8"     88P'    "8a   a8"     "8a   88   88P'   `"8a     88
//   88       d8   88           8PP"""""""   ,adPPPPP88   8888[       88       d8   8b       d8   88   88       88     88
//   88b,   ,a8"   88           "8b,   ,aa   88,    ,88   88`"Yba,    88b,   ,a8"   "8a,   ,a8"   88   88       88     88,
//   8Y"Ybbd8"'    88            `"Ybbd8"'   `"8bbdP"Y8   88   `Y8a   88`YbbdP"'     `"YbbdP"'    88   88       88     "Y888
//                                                                    88
//                                                                    88

$breakpoint-nav-barre: 1160px;
$breakpoint-mobile: 768px;
$breakpoint-niveaux: 500px;
$breakpoint-ecran-min: 375px;
