
// police
$police-texte : 'Montserrat', Arial, Helvetica, sans-serif;

// couleurs
$couleur-sombre : #333;
$couleur-claire : #FECEE9;
$couleur-beige : #B0A990;
$couleur-bleu : #7D83FF;
$couleur-bleu-claire : #00A8E8;

