body {
    min-height: 100vh;
    @extend %flex-verticale-center;
    gap: 50px;

    color: $couleur-texte;
    font-family: $police-texte;
    font-size: 24px;

    background-image: url('../asset/images/pexels-thisisengineering-3861972.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    >header,
    >section{
        margin-bottom: 100px;
    }
}

.section {
    background-color: $couleur-bg-principal;
    width: 100%;
    margin: 100px 0;
}
header.section{
    margin-top: 0;
}
footer.section{
    margin-bottom: 0;
}
.limiteur-largeur{
    max-width: 1000px;
    width: 90%;
    margin: 130px auto 150px;
}



h1 {
    font-size: 72px;
}
h2 {
    font-size: 48px;
    @extend %text-align-padding;
}
h3 {
    font-size: 32px;
}
p {
    font-size: 24px;
}
