body {
    background-color: $couleur-sombre;
    color: $couleur-claire;
    font-family: $police-texte;
    font-size: 24px;
}

h1{ font-size: 72px;    }
h2{ font-size: 48px;    }
h3{ font-size: 32px;    }
p{  font-size: 24px;    }