.contacts{
    border-top: 2px solid $couleur-border;
    background-color: darken($color: $couleur-claire, $amount: 10%);
}

.grid{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(max-content, 455px));
    column-gap: 80px;
    row-gap: 40px;
    font-size: taille-responsive(12px, 20px, $breakpoint-ecran-min, $breakpoint-niveaux);
}
.contact{
    display: flex;
    align-items: center;
    gap: 20px;
    img{
        width: taille-responsive(30px, 50px, $breakpoint-ecran-min, $breakpoint-niveaux);
        aspect-ratio: 1;
        fill: currentColor;
    }
    a{
        @extend %scale-hover;
        transform: scale(2);
    }
}