.formation {
    display: flex;
    row-gap: 0;
    column-gap: 40px;
    &__annee {
        flex-shrink: 0;
        // text-align: right;
        width: 55px;
        float: left;

        // petite ligne
        position: relative;
        &::before {
            position: absolute;
            right: -115px;
            top: -8px;
            @extend %petite-ligne-pseudo-elem;
        }
    }
    &__details {
        margin-top: 12px;
        padding: 8px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        row-gap: 20px;
        column-gap: 40px;
        background-color: darken($color: $couleur-claire, $amount: 5%);

        @media (max-width: $breakpoint-mobile){
            flex-direction: column;
            text-align: center;
        }
    }
    &__nom {
        margin-bottom: 10px;
    }
    &__ecole{
        color: $couleur-texte-2;
    }
    &__lieu {
        font-size: 0.8em;
        font-style: italic;
    }

    @media (max-width: $breakpoint-formation){
        flex-direction: column;
        &__annee {
            width: 100%;
            text-align: center;
            &::before{
                right: calc(50% - 48px);
            }
        }
    }
}
