.formation {
    &.liste__element{
        grid-template-columns: 120px 1fr;
        &::before{
            left: 135px;
        }
    }
    &__annee {
        text-align: right;
    }
    &__details {
        padding-top: 20px;
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__ecole-et-nom {
        text-align: justify;
    }
    &__nom {
        // font-size: 1.2em;
        margin-bottom: 10px;
    }
    &__ecole{
        color: $couleur-texte-2;
    }
    &__lieu {
        font-size: 0.8em;
        font-style: italic;
    }
}
