header{
    height: 100vh;
    max-height: 1080px;
    &.section{
        margin-top: 0;
    }
}

.accueil {
    @extend %flex-verticale-center;
    height: 100%;
    padding-top: 20px;
    @media (max-width: $breakpoint-mobile){
        padding: 0;
    }
}

.titre{
    width: 100%;
    font-size: 72px;
    font-size: taille-responsive(24px, 72px, $breakpoint-ecran-min, $breakpoint-mobile);
    &__nom-prenom{
        display: block;
        font-weight: 700;
        &::after{
            @extend %ligne-pseudo-elem;
        }
    }
    &__metier{
        position: relative;
        display: block;
        margin: 50px 0;
        text-align: right;
        &::after{
            position: absolute;
            right: 0;
            @extend %ligne-pseudo-elem;
        }
    }
}

.layus{
    width: 100%;
    padding: 0 taille-responsive(20px, 60px, $breakpoint-ecran-min, $breakpoint-mobile);

    &__titre{
        text-align: left;
    }

    &__titre::after{
        @extend %petite-ligne-pseudo-elem;
        margin-top: 5px;
    }
    &__texte{
        width: 80%;
        float: right;
        margin-top: 30px;
        @media (max-width: $breakpoint-mobile){
            float: none;
            width: 100%;
        }
    }
}