header{
    height: 100vh;
    max-height: 1080px;
}

.accueil {
    @extend %flex-verticale-center;
    gap:100px;
    padding-top: 20px;
}

.titre{
    width: 100%;
    &__nom-prenom{
        display: block;
        font-weight: 700;
        &::after{
            @extend %ligne-pseudo-elem;
        }
    }
    &__metier{
        position: relative;
        display: block;
        margin-top: 50px;
        text-align: right;
        &::after{
            position: absolute;
            right: 0;
            @extend %ligne-pseudo-elem;
        }
    }
}

.layus{
    width: 100%;
    padding: 0 60px;

    &__titre{
        text-align: left;
    }

    &__titre::after{
        @extend %petite-ligne-pseudo-elem;
        margin-top: 5px;
    }
    &__texte{
        width: 80%;
        float: right;
        margin-top: 30px;
    }
}