.nav-barre{
    position: fixed;
    z-index: 987654321;
    top: 0;
    width: 100%;
    height: 100px;
    @extend %flex-center;
    overflow: hidden;

    background-color: $couleur-bg-principal;
    border-bottom: 2px solid $couleur-border;

    &__menu{
        @extend %flex-center;
        gap: 50px;
    }
    &__lien-item{
        position: relative;
        &::before{
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            width: calc(100% + 150px);
            aspect-ratio: 1;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%) scale(0);

            background-image: radial-gradient(circle, rgba(13, 27, 42, 1) 0%, $couleur-bg-principal 100%);
            box-shadow: inset 0px 0px 20px 20px $couleur-bg-principal;
            border-radius: 50% 50% 50% 50%;

            opacity: 1;
            transition: 0.2s ease-in-out opacity,
                        0.2s ease-in-out transform;
        }
    }
    &__lien-item:hover{
        color: $couleur-lien-hover;
        &::before{ opacity: 1; transform: translate(-50%,-50%) scale(1);}
    }
}