.nav-barre{
    position: fixed;
    z-index: 987654321;
    top: 0;
    width: 100%;
    height: 100px;
    @extend %flex-center;

    background-color: $couleur-sombre;
    border-bottom: 2px solid $couleur-beige;

    &__menu{
        @extend %flex-center;
        gap: 50px;
    }
    &__lien-item:hover{
        color:$couleur-bleu-claire;
    }
}