.technologie__groupe{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    // outline: 1px solid red; //dev


    &:not(:last-child){
        margin-bottom: 80px;
    }
    & > h3{
        // outline: 1px solid yellow; //dev
        text-align: right;

        // petite ligne
        position: relative;
        &::after {
            position: absolute;
            bottom: -5px;
            @extend %petite-ligne-pseudo-elem;
            width: 50%;
        }
    }
}
.technologie__groupe:nth-child(2n){
    flex-direction: row-reverse;
    & > h3{
        text-align: left;
        &::after{ right: 0;}    // petite ligne
    }
}

.technoligies__liste{
    // outline: 1px solid blue; //dev
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.technologie{
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
    align-items: center;
    &__nom{
        text-align: right;
    }
}